*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;

}

iframe{
    border: none;
    font-family: "Poppins", sans-serif;

  


}

span{
    display: inline-block;


    transform: scale(1.4);
   }



a{
    text-decoration: none;
    color: black;
}
:root{


}


.top-1{
    border-top: 10px solid;
    border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
}


.top-2{
    display: flex;
    flex-direction: column;
    margin: 16px 0px;
}

.header-left {

    margin-left: 40px;
    margin-top: 15px;
    Font-size: 14px;

}

.header-right{
    margin-right: 40px;
    Font-size: 14px;
    Font-weight: 500;
}

.main-bg{
    height: 120vh;
    background-image: linear-gradient(270deg, rgba(176, 42, 42, .16) 0%, rgba(176, 42, 42, .56) 18.45%, rgba(176, 42, 42, .8) 49.67%, rgba(176, 42, 42, .56) 82.52%, rgba(176, 42, 42, .196364) 99.7%, rgba(189, 40, 40, 0) 99.71%, rgba(203, 56, 55, 0) 99.72%, rgba(203, 56, 55, .16) 99.73%), url("https://static-production.npmjs.com/abf53a31b2da4657a1a004ee9358551c.png");
}

.search-btn{
    box-sizing: border-box;
    position: absolute;
    top: 19px;
    left: 118px;
    
}

input{
    width: 900px;
    height: 50px;
    margin-left: 50px;
    background: transparent;
    background-color: #F2F2F2;
    border: none;
}

button{
    border: none;
    background: transparent;
    padding: 10px;
}

span{
     padding: 0px 16px 0px 0px;

    }

   
    
input{
    padding-left:60px;
}

ul{
    display: flex;
    list-style: none;
    justify-content:flex-end;
    margin-top: -33px;
}


li{
    padding-left:25px;
    
}

hr{
    margin-top: 15px;
}

svg{
    width: 9.5%;
    /* margin-top: 30px; */
}
svg{
    width: 65px;
}

.header2-left{
    margin-left:30px;
    position: relative;
}



.btn{
    width: 116px;
    font-size:14px;
    /* padding: 8px 32px; */
    height: 51px;  
    /* border: solid; */

}


.btn-signup{
    border: 1px solid #cccccc;
    margin-left: 25px;
}

.search{
    background:black;
    color: white;
    margin: -4px;
    /* border: none; */
}



h1{
    font-size: 85px;
    color: white;
    padding: 0px 440px;
    text-align: center;
    padding-top: 100px;
    font-weight: 500;
    
}

.text{
    color: white;
    text-align: center;
}

.text2{
    padding: 0px 470px;
}

.text3{
    font-size:36px;
    font-weight: 600px;
    margin: 30px 0px;
    padding: 0px 450px;


}

.text4{
    padding: 0px 450px;
    margin-bottom: 45px;
}

.btns{
    margin: auto;
    box-sizing: border-box;
    margin-top: 20px;
    position: absolute;
    left:480px;


}

.buttons{
    background: #FFC329;
    border-radius: 30px;
    padding: 18px 63px;
    margin: 0px 16px 16px 0px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .4);
    font-weight: 700;
    font-size: 16px;

    
}


.button1{
    border: 2px solid white;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    padding: 18px 63px ;
    margin: 0px 0px 16px 16px;
    color: white;

}

.top-3{
    height: 80vh;
    max-width: 32rem;
    margin: auto;
    padding-top:4rem ;
    padding-bottom: 4rem;
}


.comp-img{
  
margin: 0px 201px 30px;   
    
}

.comp-head{
    font-size:36px;
    font-weight: 600;
    line-height: 1.25;
    font-style: normal;
    text-align: center;
    margin-bottom:30px ;
    
}

.comp-data{
    /* text-align: center;

    height: 50px ;
    width: 600px;
    font-weight:400;
    font-size: 16px;
    border: solid 1px ;
    padding: 0px 0px; */

    text-align: center;

}







